extends layout

block content
  div.jumbotron.text-center
    h1 Bienvenidos a Recove
    p Una plataforma que ayuda al planeta
    br
    ul.list-group
      li.list-group-item
        a(href="/usuarios") Usuarios
      li.list-group-item
        a(href="/categoria") Categorias
      li.list-group-item
        a(href="/tipos") Tipos de usuario
