extends layout

block content
    h2.form-signin-heading USuarios
    br
    h4.form-signin-heading Crear nuevos tipos de usuario
    br
    form.form-signin(method = "post",action="/usuarios/create")
            div.form-group
                label(for='nombre') Nombre:
                input#nombre.form-control(type="text" name="nombres",placeholder="Nombre completo")
            div.form-group
                label(for='correo') Correo electrónico:
                input#correo.form-control(type="text" name="correo",placeholder="E-mail")
            div.form-group
                label(for='user') Usuario:
                input#user.form-control(type="text" name="user",placeholder="Alías")
            div.form-group
                label(for='pass') Contraseña:
                input#pass.form-control(type="password" name="password",placeholder="Nombre del tipo de usuario")
            div.form-group
            label(for='nombre') Tipo de usuario:
            div.form-group
                select.form-control.selcls(name="tipo")
                        option(value="Admin") Administrador
                        option(value="User") Usuario Premiun
                br
            button.btn.btn-large.btn-success(type="submit") Crear
    br

    a(href="/usuarios}").btn.btn-large.btn-primary Volver
    